[user]
    email = victor.bertin@b-on.com
    name = Victor Bertin
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINNCEbme82bjJ+lIwttrt82MJmQSn8XLAzZSkscpSFbz
[core]
    editor = nvim

# From https://stackoverflow.com/questions/34119866/setting-up-and-using-meld-as-your-git-difftool-and-mergetool
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

[alias]
    # Mastermind Git History Browsing
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    # Print content of a given commit
    content = "!git diff \"$1\"~ \"$1\" #"
    # Print a list of files modified in a given commit
    ls = show --pretty="" --name-only
    # Print stats for a given commit
    stats = "!git diff --stat \"$1\"~ \"$1\" #"
    # Check history of a given file
    follow = log --follow
    recommit = commit --amend --no-edit
    # Unstage and unto modifications done to a given file
    # Useful when lock files conflict when rebasing
    unmerge = !git restore --staged $1 && git restore $1

# Project preferences
[init]
    defaultBranch = main
[pull]
    rebase = true

# Security & signing
[credential]
    helper = store
# See https://developer.1password.com/docs/ssh/get-started/
[gpg]
    format = ssh
[gpg "ssh"]
    program = "/opt/1Password/op-ssh-sign"
[commit]
    gpgsign = true
[color]
	ui = auto
