[user]
    email = victor.bertin@b-on.com
    name = Victor Bertin
[core]
    editor = nvim

# From https://stackoverflow.com/questions/34119866/setting-up-and-using-meld-as-your-git-difftool-and-mergetool
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

[alias]
    # Mastermind Git History Browsing
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    # Check content of a given commit
    content = "!git diff \"$1\"~ \"$1\" #"
    # Check stats for a given commit
    stats = "!git diff --stat \"$1\"~ \"$1\" #"
    # Check history of a given file
    follow = log --follow
    recommit = commit --amend --no-edit

[credential]
    helper = store
[pull]
    rebase = true
[init]
    defaultBranch = main
