[submodule "rmtrash/.local/bin"]
	path = rmtrash/.local/bin
	url = git@github.com:PhrozenByte/rmtrash.git
	branch = v1.15
[submodule "fonts/.local/share"]
	path = fonts/.local/share
	url = https://github.com/0xType/0xProto
[submodule "kitty/.config/kitty/kitten/search"]
	path = kitty/.config/kitty/kitten/search
	url = https://github.com/trygveaa/kitty-kitten-search
